// =========================================
// base variables
// =========================================

// width ----------------------------------

// font ---------------------------------------------------------------------------------------------------------------------------------------------
@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700|Lusitana:400,700');
$font-top: 'Dancing Script', cursive;
$font-heading: 'Lusitana', serif;

// colors ------------------------------------
$main: #194769;
$main-darken: #2D4369;
$sub-yellow: #E9CF4E;
$sub-orange: #F2855E;

// breakpoint ---------------------------
$breakpoints: (
  xs: "screen and (max-width: 320px)",
  sm: "screen and (max-width: 575px)",
  md: "screen and (max-width: 767px)",
  lg: "screen and (max-width: 991px)",
  xl: "screen and (max-width: 1199px)"
);

@mixin media($breakpoint) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}