/* --------------------------------
 * FOOTER
 * -------------------------------- */
.footer {
  background: $main;
  color: #ffffff;
  padding: 20px 0 12px;

  > .container {
    display: flex;
    justify-content: space-between;
  }

  p {
    font-size: 1.4rem;
    font-family: $font-heading;
    font-weight: bold;
    font-style: italic;
    line-height: 1.071428571428571;
    text-align: center;
    padding: 29px 0 30px;
    margin-left: 37px;
  }

  img {
    display: block;
    height: 74px;

    &:hover {
      cursor: pointer;
    }
  }
}