/* --------------------------------
 * HEADER
 * -------------------------------- */
.header {
  background: url('../img/top.jpg') no-repeat center center;
  background-size: cover;
  text-align: center;
  padding: 10px;
  color: #ffffff;
  position: relative;
  width: 100vw;
  height: 100vh;
  @include media(md) {
    height: auto;
    background-position: left -63px top;
  }

  &-tit {
    font-family: $font-top;
    font-weight: normal;
    font-size: 12rem;
    line-height: 1.3;
    text-shadow: 0 2px 4px rgba(14, 39, 58, 0.3);
    margin-top: 268px;
    @include media(lg) {
      margin-bottom: 30px;
    }
    @include media(md) {
      font-size: 7rem;
    }
    @include media(sm) {
      margin-top: 154px;
      font-size: 5rem;
      line-height: 1;
      margin-bottom: 17px;
    }
  }
  &-txt {
    font-size: 4rem;
    text-shadow: 0 2px 4px rgba(14, 39, 58, 0.3);
    line-height: 1;
    margin-bottom: 117px;
    margin-top: -10px;
    @include media(lg) {
      margin-top: 0;
    }
    @include media(md) {
      font-size: 2.5rem;
      line-height: 1.5;
      margin-bottom: 50px;
    }
    @include media(sm) {
      font-size: 1.8rem;
    }
  }
  &-btn {
    @include btn-gradient();
    padding: 23px 65px 22px 85px;
    margin-bottom: 132px;
    position: relative;
    z-index: 200;
    @include media(sm) {
      margin-bottom: 162px;
    }
  }

  &-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 10px solid $main;
    z-index: 100;
    @include media(md) {
      background: rgba(255, 255, 255, 0.2);
    }
  }
}

/* gnav */
.gnav {
  display: flex;
  justify-content: space-between;
  max-width: 1217px;
  margin: 0 auto 190px;
  padding: 30px 35px 20px 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  transition: all ease 0.3s;
  @include media(xl) {
    padding: 30px 45px 20px 20px;
  }
  @include media(lg) {
    padding: 30px 30px 20px;
  }
  @include media(md) {
    padding: 22px 19px 15px 24px;
    margin-bottom: 113px;
  }

  &-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    height: 108px;
    background: transparent;
    @include media(lg) {
      height: 99px;
    }
    @include media(md) {
      display: none;
    }
  }

  &-logo {
    display: block;
    position: relative;
    z-index: 200;
    &._white {
      display: none;
    }

    img {
      width: 143px;
      transition: all ease 0.3s;
      @include media(lg) {
        width: 120px;
      }
      @include media(md) {
        width: 100px;
      }
      @include media(sm) {
        width: 71px;
      }
    }
  }
  &-toggler:not(._menu) {
    display: none;
    transition: all ease 0.3s;
    @include media(md) {
      display: block;
      color: $main;
      font-size: 1.4rem;
      font-family: $font-heading;
      font-weight: bold;
      padding: 10.5px 0;
      letter-spacing: 0.32em;
      position: relative;
      z-index: 200;
      &::before {
        content: '';
        display: inline-block;
        width: 50px;
        height: 2px;
        background-color: $main;
        position: absolute;
        top: -1px;
        left: 25%;
        transform: translateX(-25%);
        transition: all ease 0.3s;
        @include media(sm) {
          width: 40px;
          line-height: 1.090909090909091;
        }
      }
      &::after {
        content: '';
        display: inline-block;
        width: 50px;
        height: 2px;
        background-color: $main;
        position: absolute;
        bottom: -1px;
        left: 25%;
        transform: translateX(-25%);
        transition: all ease 0.3s;
        @include media(sm) {
          width: 40px;
        }
      }
      &._active {
        color: #ffffff;
        &::before, &::after {
          background-color: #ffffff;
        }
      }
    }
    @include media(sm) {
      padding: 7.5px 0;
      font-size: 1.1rem;
    }
  }

  &-list {
    display: flex;
    background: transparent;
    @include media(md) {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $main;
      z-index: 10000;
    }
  }
  &-item {
    &._sp {
      display: none;
      @include media(md) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 22px 29px 0 24px;
        margin-bottom: 36.5px;
      }

      img {
        @include media(md) {
          width: 100px;
        }
        @include media(sm) {
        }
        width: 71px;
      }
      svg.arrow {
        @include media(md) {
          font-size: 2.5rem;
        }
        font-size: 2rem;
      }
    }

    a {
      display: block;
    }
  }
  &-links {
    margin-bottom: 40px;
    @media screen and (min-width: 768px) {
      display: flex;
      align-items: center;
      margin-bottom: 0;
    }
  }
  &-link {
    margin-right: 37px;
    @include media(lg) {
      margin-right: 15px;
    }
    @include media(md) {
      margin-right: 0;
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    a {
      font-size: 2.4rem;
      line-height: 1.125;
      font-family: $font-heading;
      color: $main;
      font-weight: bold;
      transition: all ease 0.3s;
      &._active {
        color: #ffffff;
      }
      @include media(lg) {
        font-size: 2rem;
      }
      @include media(md) {
        color: #ffffff;
        line-height: 1.08333333333;
        font-size: 2.4rem;
      }
    }
  }
  &-btn {
    margin-top: 2px;
    padding: 11px 33px;
    font-weight: bold;
    background: linear-gradient(#f2855e 0%, #f69b7a 48.53%, #f2855e 100%);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 180px;
    display: inline-block;
    @include media(lg) {
      font-size: 1.4rem;
      padding: 10px 20px;
    }
    @include media(md) {
      font-size: 1.1rem;
      line-height: 1.54545455;
      padding: 12px 28px 11px 28px;
      max-width: 150px;
      margin: 0 auto;
      letter-spacing: 0.2em;
    }

    &:hover {
      opacity: 1;
      $start: darken(#f2855e, 5%);
      $middle: darken(#f69b7a, 5%);
      $end:  darken(#f2855e, 5%);
      background: linear-gradient($start 0%, $middle 48.53%, $end 100%);
    }
  }
}