.header {
  background: url('../img/top.jpg') no-repeat center center;
  background-size: cover;
  text-align: center;
  padding: 10px;
  color: #ffffff;
  position: relative;

  &-tit {
    font-family: $font-top;
    font-weight: normal;
    font-size: 12rem;
    line-height: 1.3;
    text-shadow: 0 2px 4px rgba(14, 39, 58, 0.3);
  }
  &-txt {
    font-size: 4rem;
    text-shadow: 0 2px 4px rgba(14, 39, 58, 0.3);
    line-height: 1;
    margin-bottom: 117px;
    margin-top: -10px;

  }
  &-btn {
    @include btn-gradient();
  }

  /* &-top {
    width: 100%;
    position: relative;

    &::before {
      content: '';
      display: block;
      padding-top: 62.8125%;
    }
  }
  &-topimg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../img/top.jpg') no-repeat center center;
    background-size: cover; 
  } */

  &-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 10px solid $main;
    z-index: 1000;
  }
}

/* gnav */
.gnav {
  display: flex;
  justify-content: space-between;
  max-width: 1217px;
  margin: 0 auto 190px;
  padding: 20px 35px 0 10px;

  &-logo {

    img {
      width: 143px;
    }
  }

  &-list {
    @media screen and (min-width: 768px) {
      display: flex;
    }
  }
  &-item {

    a {
      display: block;
    }
  }
  &-links {
    @media screen and (min-width: 768px) {
      display: flex;
      align-items: center;
    }
  }
  &-link {
    margin-right: 37px;

    a {
      font-size: 2.4rem;
      line-height: 1.125;
      font-family: $font-heading;
      color: $main;
      font-weight: bold;
    }
  }
  &-btn {
    margin-top: 2px;
    padding: 11px 33px;
    font-weight: bold;
    background: linear-gradient(#f2855e 0%, #f69b7a 48.53%, #f2855e 100%);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 180px;

    &:hover {
      opacity: 1;
      $start: darken(#f2855e, 10%);
      $middle: darken(#f69b7a, 10%);
      $end:  darken(#f2855e, 10%);
      background: linear-gradient($start 0%, $middle 48.53%, $end 100%);
    }
  }
}