/* --------------------------------
 * PARALLAX
 * -------------------------------- */
.parallax {

  &-window {
    min-height: 613px;
    background: transparent;
    @include media(md) {
      display: none;
    }

    &._sp {
      display: none;
      @include media(md) {
        display: block;
        min-height: 394px;
      }
    }
  }

  &-slider {
    top: 0;
    left: 0;
  }
}