/* --------------------------------
 * READ
 * -------------------------------- */
.read {
  text-align: right;
  position: relative;
  margin: 0 auto 65px;
  max-width: 1280px;
  padding-top: 4px;
  @include media(md) {
    margin-bottom: 87px;
  }

  &-txtbox {
    text-align: start;
    background: #ffffff;
    display: inline-block;
    padding: 56px 81px 90px 114px;
    max-width: 758px;
    position: relative;
    top: -25px;
    @include media(lg) {
      padding-bottom: 19.53125vw;
    }
    @include media(md) {
      top: 0;
      padding: 51px 34px 112px;
    }
  }
  &-tit {
    font-size: 4rem;
    margin-bottom: 30px;
    padding-left: 5px;
    @include media(md) {
      font-size: 1.8rem;
      margin-bottom: 39px;
      padding-left: 0;
    }

    span {
      display: none;
      @include media(md) {
        display: inline;
      }
    }
  }
  &-txt {
    font-size: 2rem;
    line-height: 1.2;
    letter-spacing: 0.005em;
    color: #707070;
    @include media(md) {
      font-size: 1.4rem;
      line-height: 1.71428571;
      letter-spacing: 0.005em;
      padding: 0 1px;
    }
  }

  &-img {
    position: absolute;
    bottom: -33px;
    left: 10.234375vw;
    max-width: 35.703125vw;
    @include media(xl) {
      left: 0;
    }
    @include media(lg) {
      bottom: -20px;
    }
    @include media(md) {
      max-width: 229px;
      bottom: -77px;
    }
  }
}