/* --------------------------------
 * REVIEW
 * -------------------------------- */
.review {
  padding-top: 60px;
  text-align: center;
  @include media(md) {
    padding-top: 81px;
  }

  &-heading {
    @include heading();
    margin-bottom: 108.5px;
    @include media(md) {
      margin-bottom: 79px;
    }
  }

  &-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 494px;
    grid-gap: 28px 16px;
    justify-content: center;
    padding: 0 69.5px 0 68.5px;
    margin-bottom: 60px;
    @include media(md) {
      grid-template-columns: minmax(320px, 494px);
      grid-gap: 0;
      padding: 0;
      margin-bottom: 33px;
    }
  }
  &-item {
    position: relative;
    text-align: start;
    &::before {
      content: '';
      display: block;
      padding-top: 100%;
    }
    @for $var from 1 through 4 {
      &:nth-child(#{$var}) &-inner {

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('../img/review#{$var}.jpg');
        background-size: cover;
      }
    }
  }

  &-txtbox {
    background: rgba(25, 71, 105, 0.3);
    width: 100%;
    height: 100%;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  &-tit {
    font-size: 3.2rem;
    @include media(md) {
      font-size: 1.8rem;
      padding-bottom: 94px !important;
      padding-left: 0 !important;
      text-align: center;
    }

    &._01 {
      padding-left: 36px;
      padding-bottom: 24px;
    }
    &._02 {
      padding-left: 40px;
      padding-bottom: 23px;
    }
    &._03 {
      padding-left: 36px;
      padding-bottom: 21px;
    }
    &._04 {
      padding-left: 40px;
      padding-bottom: 20px;
    }
  }
  &-txt {
    font-size: 2rem;
    background: $sub-yellow;
    @include media(md) {
      font-size: 1.4rem;
      padding: 9px 0 10px !important;
      text-align: center;
    }

    &._01 {
      padding: 46px 0 40px 36px;
    }
    &._02 {
      padding: 47px 0 40px 40px;
    }
    &._03 {
      padding: 44px 0 42px 36px;
    }
    &._04 {
      padding: 45px 0 42px 40px;
    }
  }

  &-btn {
    @include btn-gradient();
    padding: 23px 43px 22px;
    letter-spacing: 0.002em;
    color: #ffffff !important;
    @include media(md) {
      font-size: 1.1rem;
      letter-spacing: 0.12em;
      padding: 12px 16px 11px;
    }
  }
}