/* --------------------------------
 * SHOP
 * -------------------------------- */
.shop {
  margin-top: 233px;
  padding-top: 56px;
  background: $main;
  color: #ffffff;
  text-align: center;
  @include media(md) {
    margin-top: 80.5px;
    padding-top: 45px;
  }

  &-heading {
    @include heading-bg(20rem, 4rem, 8rem, 1.6rem);
    margin-bottom: 109px;
    @include media(md) {
      margin-bottom: 48px;
    }

    h2 {
      font-weight: normal;
    }
    h3 {
      top: 59%;
      transform: translate(-50%, -59%);
    }
  }

  &-list {
    @media screen and (min-width: 768px) {
      display: flex;
    }
  }
  &-item {
    background: #ffffff;

    a {
      display: block;
      &:hover {
        opacity: 0.8;
      }
    }
    @media screen and (min-width: 768px) {
      flex: 0 0 50%;
    }
    @include media(md) {
      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }

    @for $var from 1 through 2 {
      &:nth-child(#{$var}) &-wrapper {
        position: relative;
        &::before {
          content: '';
          display: block;
          padding-top: 60.625%;
          @include media(md) {
            padding-top: 62.5%;
          }
        }

        &-inner {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: url('../img/shop#{$var}.jpg');
          background-size: cover;
          @include media(md) {
            background: url('../img/shop#{$var}-sp.jpg');
            background-size: cover;
          }
        }
      }
    }
  }
  &-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(246, 246, 233, 0.3);
    z-index: 1;
  }

  &-txtbox {
    position: relative;
    padding: 52px 0 51px;
    @include media(md) {
      padding: 27px 0 26px;
    }

    &._aoyama {
      background: $sub-orange;
    }
    &._sinjuku {
      background: $sub-yellow;
    }
  }
  &-tit {
    font-size: 8rem;
    font-family: $font-heading;
    line-height: 1.1;
    position: absolute;
    top: -51px;
    left: 50%;
    transform: translateX(-50%);
    @include media(lg) {
      font-size: 6rem;
    }
    @include media(md) {
      font-size: 5rem;
      line-height: 1.12;
      top: -43px;
    }
  }
  &-txt {
    font-size: 4rem;
    letter-spacing: 0.36em;
    margin-left: 15px;
    @include media(lg) {
      font-size: 3rem;
    }
    @include media(md) {
      font-size: 1.8rem;
      margin-left: 7px;
    }
  }
}