.tea {
  padding-top: 139px;
  @include media(md) {
    padding-top: 45.6px;
  }

  &-topwrapper {
    position: relative;
    margin-bottom: 55px;
    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: space-between;
    }
    @include media(md) {
      margin-bottom: 14px;
    }
  }
  &-topimgbox {
    @include media(md) {
      position: relative;
    }

    h2 {
      font-family: $font-heading;
      font-size: 10rem;
      font-weight: normal;
      color: $sub-yellow;
      text-align: right;
      line-height: 1.11;
      position: absolute;
      top: -4.3359375vw;
      right: 16px;
      @include media(lg) {
        font-size: 7rem;
      }
      @include media(md) {
        top: auto;
        bottom: -0.5px;
        right: 50%;
        transform: translateX(50%);
      }
      @include media(sm) {
        font-size: 5rem;
      }
      &:nth-child(2) {
        top: 3.2421875vw;
        @include media(md) {
          top: auto;
          bottom: -52.5px;
          white-space: nowrap;
        }
      }
    }
  }
  &-toptxtbox {
    position: relative;
    max-width: 377.6px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 16px 4px 11.6px;
    @include media(md) {
      padding: 61px 35px 0;
      letter-spacing: 0.15em;
      max-width: 100%;
    }
    h3 {
      font-size: 2rem;
      color: $sub-orange;
      margin-bottom: 70px;
      position: absolute;
      right: 16px;
      top: 153px;
      @include media(lg) {
        font-size: 1.7rem;
        top: 13.02083333333333vw;
      }
      @include media(md) {
        position: static;
        text-align: center;
        margin-bottom: 24px;
      }
      @include media(sm) {
        font-size: 1.4rem;
      }
    }
    p {
      font-size: 2rem;
      line-height: 1.8;
      color: hsl(210, 47%, 17%);
      @include media(xl) {
        font-size: 1.8rem;
      }
      @include media(lg) {
        font-size: 1.4rem;
      }
      @include media(md) {
        line-height: 1.714285714285714;
        letter-spacing: -0.001em;
      }
      &._md {
        display: none;
        @include media(md) {
          display: block;
        }
      }
    }
  }

  &-topimgs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 99px;
    @include media(md) {
      margin-bottom: 67px;
    }
  }
  &-topimg {

    img {
      @include responsive(width, 1140, 360);
    }
  }

  &-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 350px));
    grid-auto-rows: 216px;
    grid-gap: 57px 31px;
    justify-content: center;
  }
  &-item {
    background: #ffffff;
    position: relative;
    &:nth-child(1) {
      padding: 43px 45px 25px;
      @include media(md) {
        padding: 49px 30px 25px;
      }
    }
    &:nth-child(2) {
      padding: 43px 42px 24px 48px;
      @include media(md) {
        padding: 49px 30px 24px;
      }
    }
    &:nth-child(3) {
      padding: 43px 45px 22px;
      @include media(md) {
        padding: 49px 30px 22px;
      }
    }
    &:nth-child(4) {
      padding: 38px 45px 29px;
      @include media(md) {
        padding: 44px 30px 29px;
      }
    }
    &:nth-child(5) {
      padding: 38px 45px 34px;
      @include media(md) {
        padding: 44px 30px 34px;
      }
    }
    &:nth-child(6) {
      padding: 38px 35px 40px 55px;
      @include media(md) {
        padding: 44px 30px 40px;
      }
    }
  }
  &-num {
    width: 80px;
    height: 80px;
    background: #ffffff;
    color: $sub-orange;
    font-family: $font-heading;
    font-size: 6rem;
    line-height: 1.1;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -37px;
  }
  &-tit {
    font-size: 2.4rem;
    text-align: center;
    @include media(md) {
      font-size: 1.8rem;
    }
    &::after {
      content: '';
      width: 150px;
      height: 2px;
      background-color: $sub-orange;
      display: block;
      border-radius: 1px;
      margin: 9px auto 0;
    }

    &._01 {
      margin-bottom: 20.5px;
      @include media(md) {
        &::after {
          margin-top: 10.5px;
        }
      }
    }
    &._02 {
      margin-bottom: 17.5px;
      @include media(md) {
        &::after {
          margin-top: 12.5px;
        }
      }
    }
    &._03 {
      margin-bottom: 21.5px;
      @include media(md) {
        &::after {
          margin-top: 12.5px;
        }
      }
    }
    &._04 {
      margin-bottom: 27.5px;
      @include media(md) {
        &::after {
          margin-top: 10.5px;
        }
      }
    }
    &._05 {
      margin-bottom: 26.5px;
      @include media(md) {
        &::after {
          margin-top: 10.5px;
        }
      }
    }
    &._06 {
      margin-left: -20px;
      margin-bottom: 39.5px;
      @include media(md) {
        margin-left: 0;
        &::after {
          margin-top: 10.5px;
        }
      }
    }
  }
  &-txt {
    @include media(md) {
      font-size: 1.4rem;
    }
    &._01, &._02 {
      line-height: 1.625;
      @include media(md) {
        line-height: 1.857142857142857;
      }
    }
  }
}