// body ----------------
body {
  width: 100%;
  @include media(xl) {
    width: 100%;
  }
  @include media(lg) {
    width: 100%;
  }
  @include media(md) {
    width: 100%;
  }
  @include media(sm) {
    width: 100%;
  }
  @include media(xs) {
    width: 100%;
  }

  color: $main;
  font-family: 'メイリオ', Meiryo,sans-serif;;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  background-color: $bg;
  font-size: 1.6rem;
  @include media(md) {
    font-size: 1.4rem;
  }
}

// keyframes
@keyframes appealIn {
  from {
    transform: translateX(11.48648648648649vw);
  }
  to {
    transform: translateX(0px);
  }
}
@keyframes appealInMd {
  from {
    transform: translateY(63px);
  }
  to {
    transform: translateY(0px);
  }
}
@keyframes fadeInUpArrowMd {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0) rotate(90deg);
    transform: translate3d(0, 50px, 0) rotate(90deg);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) rotate(90deg);
    transform: translate3d(0, 0, 0) rotate(90deg);
  }
}
.fadeInUpArrowMd {
  @include media(md) {
    animation-name: fadeInUpArrowMd;
  }
}

// layout
.container {
  max-width: 1143px;
  margin: 0 auto;
  padding: 0;
}

// typograpy
br {

  &.lg {
    display: none;
    @include media(lg) {
      display: inline;
    }
  }
  &.lg_fade {
    @include media(lg) {
      display: none;
    }
  }
  &.md {
    display: none;
    @include media(md) {
      display: inline;
    }
  }
}

// link
a {
  text-decoration: none;

  &:hover {
    opacity: 0.7;
  }
  &:focus {
    outline: none;
  }
}

// image
img {
  max-width: 100%;
  vertical-align: bottom;
}