// body ----------------
body {
  width: 100%;
  @include media(xl) {
    width: 100%;
  }
  @include media(lg) {
    width: 100%;
  }
  @include media(md) {
    width: 100%;
  }
  @include media(sm) {
    width: 100%;
  }

  color: $main;
  font-family: 'メイリオ', Meiryo,sans-serif;;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  background-color: $bg;
  font-size: 1.6rem;
  @include media(md) {
    font-size: 1.4rem;
  }
}

// layout
.container {
  max-width: 1143px;
  margin: 0 auto;
  padding: 0;
}

// typograpy
br {

  &.md {
    display: none;
    @include media(md) {
      display: inline;
    }
  }
  &.md_fade {
    @include media(md) {
      display: none;
    }
  }
}

// link
a {
  text-decoration: none;

  &:hover {
    opacity: 0.7;
  }
  &:focus {
    outline: none;
  }
}

// image
img {
  max-width: 100%;
  vertical-align: bottom;
}